<div class="footer">
    <a href="http://goo.gl/vuAcDc" target="_blank"><img src="img/ic_logo_xebia@2x.png" height="92" width="274"></a>

    <div class="partner-list">
        <a href="http://goo.gl/92aq7Z" target="_blank" class="partner-link partner-link-1"></a>
        <a href="http://goo.gl/JX5pKJ" target="_blank" class="partner-link partner-link-2"></a>
        <a href="http://goo.gl/CtYsJ9" target="_blank" class="partner-link partner-link-3"></a>
        <a href="http://goo.gl/tTD624" target="_blank" class="partner-link partner-link-4"></a>
        <a href="http://goo.gl/6DS09N" target="_blank" class="partner-link partner-link-5"></a>
    </div>
</div>