<div class="footer">
    <a href="http://www.xebia.fr/" analytics-on="click" analytics-event="Xebia" target="_blank"><img src="../img/ic_logo_xebia@2x.png" height="92" width="274"></a>

    <div class="partner-list">
        <a href="http://www.paug.fr/" analytics-on="click" analytics-event="Paug" target="_blank"
           class="partner-link partner-link-1"></a>
        <a href="https://plus.google.com/+GDGParis/" analytics-on="click" analytics-event="GDG" target="_blank"
           class="partner-link partner-link-2"></a>
        <a href="https://cordova.apache.org/" analytics-on="click" analytics-event="Cordova" target="_blank"
           class="partner-link partner-link-3"></a>
        <a href="http://cocoaheads.fr/" analytics-on="click" analytics-event="CocoaHeads" target="_blank"
           class="partner-link partner-link-4"></a>
        <a href="http://1001menus.com/fr/" analytics-on="click" analytics-event="1001Menus" target="_blank"
           class="partner-link partner-link-5"></a>
    </div>
</div>