<div class="home">
    <div class="key-container">
        <div id="key1">12</div>
        <div id="key1-desc">équipes de 4</div>
        <div id="key2">1</div>
        <div id="key2-desc">thème</div>
        <div id="key3">42h</div>
    </div>
    <div class="description-container">
        <div class="col">
            <p><b>Durant 42h, du vendredi au dimanche,<br/>un seul enjeu :<br/>développer la meilleure application
                mobile</b></p>

            <p class="thin">des développeurs, un designer, des coachs agiles, des leads techniques pour produire
                l'application la
                plus innovante et aboutie.</p>
        </div>
    </div>
    <div class="participant-container">
        <div class="header-category">Qui peut participer ?</div>
        <div class="col">
            <p>Que vous soyez développeur iOS, Android, hybride, graphiste ou carrément Superman, vous pouvez vous
                inscrire
                !</p>
        </div>
    </div>
    <div class="price-container">
        <div class="header-price">
            <div class="label">Gagnants</div>
        </div>
        <div>
            <p class="price-info"><span class="big">plus de <span class="color">3000 &euro;</span></span><br/><span
                    class="thin">de lots à
                gagner !</span></p>
        </div>
    </div>
    <div class="key-date-container">
        <div class="header-category">Dates clés</div>
        <div><span class="label">31 mars</span>

            <div class="value">Début des inscriptions</div>
        </div>

        <div><span class="label">1 mai</span>

            <div class="value">Fin des inscriptions</div>
        </div>

        <div><span class="label">16, 17 et 18 mai</span>

            <div class="value">Hack Cup</div>
        </div>
    </div>

    <div class="agenda-container">
        <div class="header-category">Planning</div>
        <div class="day" style="margin-top: 0">Vendredi 16 mai</div>
        <div><span class="label">19 h 00</span>

            <div class="value">Accueil des participants</div>
        </div>

        <div><span class="label">20 h 00</span>

            <div class="value">Présentation du thème et des ressources</div>
        </div>

        <div><span class="label">20 h 30</span>

            <div class="value">Speech sur les idées</div>
        </div>

        <div><span class="label">21 h 30</span>

            <div class="value">Constitution des équipes</div>
        </div>

        <div><span class="label">22 h 00</span>

            <div class="value">Règles du jeu</div>
        </div>

        <div class="day">Samedi 17 mai</div>
        <div><span class="label">11 h 00</span>

            <div class="value">Premier coding challenge</div>
        </div>

        <div><span class="label">19 h 00</span>

            <div class="value">3 min pour convaincre</div>
        </div>

        <div class="day">Dimanche 18 mai</div>
        <div><span class="label">10 h 30</span>

            <div class="value">Présentations finales</div>
        </div>

        <div><span class="label">12 h 00</span>

            <div class="value">Démos</div>
        </div>

        <div><span class="label">14 h 00</span>

            <div class="value">Résultats</div>
        </div>

        <div><span class="label">15 h 00</span>

            <div class="value">Gros dodo !</div>
        </div>
    </div>

    <div class="ready-container">
        <div class="col">
            <div class="title"><span class="thin">Êtes-vous prêts</span><br/>à relever le défi ?</div>

            <div class="thin loading-dot">...</div>

            <div class="btn">
                <a class="fill" href="https://hack-cup-by-xebia.eventbrite.fr/" target="_blank" analytics-on="click"
                   analytics-event="Subscription"
                   analytics-category="HackCup Link">s'inscrire</a>

                <div class="arrow">&gt;</div>
            </div>

            <p class="note-subscription">Inscriptions ouvertes du<br/><b>31 mars au 1 mai</b></p>

            <div class="btn light">
                <a class="note-rules" analytics-on="click" analytics-event="Rule" analytics-category="HackCup Link"
                   href="https://github.com/xebia-france/hack-cup/raw/master/asset/hackcup_by_xebia_rule.pdf"
                   target="_blank">Voir le
                    règlement</a>
            </div>
        </div>
    </div>

    <div class="place-container">
        <div class="header-category">Où ?</div>
        <div class="address-container">
            <div class="color">Xebia France</div>
            <div class="thin">156 boulevard Haussmann</div>
            <div class="thin">75 008 Paris</div>
        </div>
    </div>
    <div class="col">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2624.1055696648455!2d2.3110990000000005!3d48.875263999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc7c80dc195%3A0x2999111f5960f50f!2sXebia!5e0!3m2!1sen!2sfr!4v1396102090184"
                    width="100%" height="450" frameborder="0" style="border:0"></iframe>
        </div>
    </div>

</div>