<div class="home">
    <div class="key-container">
        <div id="key1">12</div>
        <div id="key1-desc">équipes de 4</div>
        <div id="key2">1</div>
        <div id="key2-desc">thème</div>
        <div id="key3">42h</div>
    </div>
    <div class="description-container">
        <p><b>Durant 42h, du vendredi au dimanche,<br/>un seul enjeu :<br/>développer la meilleure application
            mobile</b></p>

        <p class="thin">des développeurs, un designer, des coachs agiles, des leads techniques pour produire
            l'application la
            plus innovante et aboutie</p>
    </div>
    <div class="participant-container">
        <div class="header-category">Qui peut participer ?</div>
        <p>Que vous soyez développeur iOS, Android, hybride, graphiste ou carrément Superman, vous pouvez vous inscrire
            !</p>

        <p class="thin">Les places étant malheureusement limitées, un mini-quiz sera envoyé aux inscrits à partir du 21
            avril afin de départager les postulants.</p>
    </div>
    <div class="price-container">
        <div class="header-price">
            <div class="label">Gagnants</div>
        </div>
        <div>
            <p class="price-info"><span class="big">plus de <span class="color">3000 &euro;</span></span><br/><span
                    class="thin">de lots à
                gagner !</span></p>
        </div>
    </div>
    <div class="key-date-container">
        <div class="header-category">Dates clés</div>
        <p><span class="label">31 mars :</span> <span class="value">Début des inscriptions</span></p>

        <p><span class="label">21 avril :</span> <span class="value">Début du mini-quiz</span></p>

        <p><span class="label">27 avril :</span> <span class="value">Fin des inscriptions</span></p>

        <p><span class="label">4 mai :</span> <span class="value">Date limite de réponse au mini-quiz</span></p>

        <p><span class="label">11 mai au plus tard :</span> <span class="value">Résultats du mini-quiz</span></p>

        <p><span class="label">16, 17 et 18 mai :</span> <span class="value">Hack Cup</span></p>
    </div>

    <div class="agenda-container">
        <div class="header-category">Planning</div>
        <div class="day">Vendredi 16 mai</div>
        <p><span class="label">19 h 00 :</span> <span class="value">Accueil des participants</span></p>

        <p><span class="label">20 h 00 :</span> <span class="value">Présentation du thème et des ressources</span></p>

        <p><span class="label">20 h 30 :</span> <span class="value">Speech sur les idées</span></p>

        <p><span class="label">21 h 30 :</span> <span class="value">Constitution des équipes</span></p>

        <p><span class="label">22 h 00 :</span> <span class="value">Règles du jeu</span></p>

        <div class="day">Samedi 17 mai</div>
        <p><span class="label">11 h 00 :</span> <span class="value">Premier coding challenge</span></p>

        <p><span class="label">19 h 00 :</span> <span class="value">3 min pour convaincre</span></p>

        <div class="day">Dimanche 18 mai</div>
        <p><span class="label">10 h 30 :</span> <span class="value">Présentations finales</span></p>

        <p><span class="label">12 h 00 :</span> <span class="value">Démos</span></p>

        <p><span class="label">14 h 00 :</span> <span class="value">Résultats</span></p>

        <p><span class="label">15 h 00 :</span> <span class="value">Gros dodo !</span></p>
    </div>

    <div class="ready-container">
        <div class="title"><span class="thin">Êtes-vous prêts</span><br/>à relever le défi ?</div>

        <div class="thin loading-dot">...</div>

        <div class="btn"><a class="fill" href="" target="_blank">s'inscrire</a></div>

        <p class="note-subscription">Inscriptions ouvertes du<br/>31 mars au 27 avril</p>

        <a class="note-rules">Voir le règlement</a>
    </div>

    <div class="place-container">
        <div class="header-category">Où ?</div>
        <div class="address-container">
            <div class="color">Xebia France</div>
            <div class="thin">156 boulevard Haussmann</div>
            <div class="thin">75 008 Paris</div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2624.1055696648455!2d2.3110990000000005!3d48.875263999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc7c80dc195%3A0x2999111f5960f50f!2sXebia!5e0!3m2!1sen!2sfr!4v1396102090184"
                width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>

</div>