<div class="home">
    <div class="key-container">
        <div class="key">
            <div class="value">
                <div class="round">50</div>
                <span>Développeurs</span>
            </div>
        </div>
        <div class="key">
            <div class="value">
                <div class="round">10</div>
                <span>Idées</span>
            </div>
        </div>
        <div class="key">
            <div class="value">
                <div class="round">42</div>
                <span>Heures</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="info-container">
        <p>Durant 42h, du vendredi soir au dimanche matin, l'enjeu sera de développer une application mobile en feature
            team :</p>

        <p>des développeurs, un designer, des coachs agiles et techniques pour produire l'application la plus innovante
            et la plus
            aboutie.</p>

        <div class="btn">En savoir +</div>
        <div class="clearfix"></div>
    </div>
    <div class="participant-container">
        <div class="header-category">
            <div class="header-text">Qui peut participer</div>
        </div>
        <p>Vous êtes développeur ou développeuse, novice ou confirmé(e), inscrivez-vous comme développeur ou
            développeuse.</p>

        <p>Vous êtes graphiste, designer ou artiste, inscrivez-vous ici.</p>

        <p><b>Vous n’avez pas de compétences particulières mais des supers pouvoirs, inscrivez-vous comme Batman.</b></p>

        <div class="btn dark">Inscription</div>
    </div>
</div>